.header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    background-color: #2E323C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  .header .logo { 
    
    font-weight: 800; 
    font-size: 20px;
    font-family: 'Francois One', sans-serif;
    color: #8268EF;
    text-decoration:none;
  }

  form{
    padding: auto;
    padding-right: 25px;
  }
  .input_text{
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgb(33, 43, 63);
  }
  .myButton {
    font-family: 'Francois One', sans-serif;
    font-weight: 700; 
    background-color:#7892c2;
    display:inline-block;
    cursor:pointer;
    color:#2E323C;
    font-family:Arial;
    font-size:14px;
    text-decoration:none;
    border: 0;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;   
  }
  .myButton:hover {
    background-color:#8268EF;
    color:#ffffff;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  