.bpage{
    width: 4em;
    border: 1px solid white;
    border-radius: 1em;
    margin: .5em;
    cursor: pointer;
}

.movieList{
   
    margin: auto;
    max-width:75%;
    margin-bottom: 75px;
    color: white;
    text-decoration: none;
    font-family: 'Francois One', sans-serif;
    font-weight: 700; 
    font-size: 17px;
}

.lista{
    margin-left:1%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    
}

.films{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
    margin-bottom: 20px;
}

.links{
    text-align: center;
color: white;
text-decoration: none;
font-family: 'Francois One', sans-serif;
font-weight: 700; 
font-size: 14px;

}

.link1:hover {
-webkit-filter: saturate(50%); 
filter: saturate(50%);
-webkit-filter: grayscale(0%); 
filter: grayscale(0%);
-webkit-filter: drop-shadow(8px 8px 10px rgb(17, 17, 17));filter: drop-shadow(8px 8px 10px rgb(17, 17, 17));

height:333px;
}

p{
    margin-top:5px;
}

.images{
    -webkit-filter: grayscale(65%); /* Safari 6.0 - 9.0 */
    filter: grayscale(65%);
    border-radius: 8px;
}

.textbox{
    width: 200px;
    word-wrap: break-word;
}

.date{
color: #8268EF;
text-decoration: none;
font-family: 'Francois One', sans-serif;
font-weight: 500; 
font-size: 12px;
}

.pagesCount{
    text-align: center;
    margin: auto;
    max-width:75%;
    margin-bottom: 75px;
    color: white;
    text-decoration: none;
    font-family: 'Francois One', sans-serif;
    font-weight: 700; 
    font-size: 17px; 
}

.buttons{
    text-align: center;
    margin: auto;
    max-width:75%;
    margin-bottom: 75px;
    color: white;
    text-decoration: none;
    font-family: 'Francois One', sans-serif;
    font-weight: 700; 
    font-size: 17px; 
}
.buton_p{
    color: black;
    margin: 1em;
    border-radius: 5px;
    border:1px solid black;
    padding: .5em 1em .5em 1em;
    background-color: #7892c2;
    cursor: pointer;
    font-weight: 600;
}
.buton_p:hover{
    background-color:#8268EF;
    color:#ffffff;
}