.App {
  text-align: center;
  background-color: #1F2229;
 
}

.contenedor{
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1F2229;
  min-height: 1080px;
  color: white;
}




